body{
    background-color: #f5f7fa;
}
.header {
    position: relative;
    height: 69px;
    background: #ffffff;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}

.header .title {
    position: absolute;
    width: 299px;
    height: 100%;
    left: 20px;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    line-height: 69px;
}

.header .title a {
    color: #272727;
}

.header .name {
    position: absolute;
    float: left;
    width: 245px;
    height: 69px;
    left: 300px;
    margin-left: 30px;
    font-size: 24px;
    text-align: center;
    color: #27274a;
    line-height: 69px;
}

.header .message {
    position: absolute;
    float: right;
    right: 20px;
    font-size: 24px;
    line-height: 69px;
    cursor: pointer;
}

.sidevar {
    position: absolute;
    top: 69px;
    bottom: 0px;
    /* left: 0px; */
    width: 160px;
    background: #27274a;
    transition: all .4s;
}

.sidevar .turn {
    width: 160px;
    height: 40px;
    padding: 5px 16px;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
}

.sidevar .turn>i {
    float: right;
    cursor: pointer;
}

.sidevar .tables>div,
.sidevar .logout {
    position: relative;
    width: 160px;
    height: 40px;
    padding: 5px 8px;
    line-height: 30px;
    border-bottom: 1px solid #5a5a67;
    transition: all .4s;
}
.current,
/* .sidevar .tables .inner, */
.sidevar .logout .inner:hover {
    background-color: #1a8cfe;
    border-radius: 6px;
}

.sidevar .tables .inner>a,
.sidevar .logout .inner>label {
    cursor: pointer;
    color: #ffffff;
    height: 30px;
    position: relative;
    display: block;
}

.sidevar .tables .inner>a i,
.sidevar .logout .inner>label i  {
    margin-left: 12px;
}

.sidevar .tables .inner>a h4,
.sidevar .logout .inner>label h4 {
    position: absolute;
    width: 80px;
    left: 30px;
    display: inline;
    text-align: center;
}

.sidevar .tables .hover:hover .sideopen {  
    width: 832px;
    height: 345px;
}
.sidevar .tables .hover:hover .sideopen .sideopen-inner{
    display: block;
}
.sidevar .tables .open>a::after {
    margin-left: 92px;
    content: "\e913";
    font-family: icomoon;
}

.sidevar .sideopen {
    position: absolute;
    top: 0;
    left: 160px;
    width: 0;
    height: 345px;
    background: #fff;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    transition: all .3s;
}
.sidevar .sideopen .sideopen-inner{
    display: none;
    width: 832px;
    height: 345px;
    border-left: 2px solid #777777;
    padding: 10px;
    transition: all .3s;
}
.sidevar .sideopen dl {
    float: left;
    /* position: absolute; */
    width: 158px;
    height: 172px;
}

.sidevar .sideopen dt {
    height: 42px;
    text-align: center;
    border-bottom: 2px solid #f1f3f8;
}

.sidevar .sideopen dt h4 {
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 700;
    color: #27274a;
    border-left: 4px solid #1a8cfe;
}

.sidevar .sideopen dd a {
    display: block;
    width: 141px;
    height: 40px;
    line-height: 40px;
    color: #777777;
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.sidevar .sideopen dd a:hover{
    color: #1a8cfe;
}
.sidevar .logout {
    position: absolute;
    bottom: 0;
    border: 0;
}
.sidevar .logout input{
    display: none;
}
.contain{
    position: absolute;
    left: 160px;
    right: 0;
    top: 69px;
    bottom: 0;
    transition: all .3s;
    z-index: -999;
}
.contain>div{
    position: absolute;
    top: 25px;
    bottom: 25px;
    right: 50px;
    left: 50px;
    z-index: -1;
}