.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 69px;
    background: #ffffff;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    z-index: 999;
}
.header .name{
    font-size: 16px;
}
.header .out>a{
    position: absolute;
    right: 30px;
    top: 17px;
    width: 100px;
    height: 37px;
    line-height: 35px;
    color: #5fafff;
    border: 2px solid #5fafff;
    font-size: 20px;
    border-radius: 18px;
}
.header .out>a>i{
    font-size: 18px;
    margin: 0 10px;
}
.header .out>a>h4{
    display: inline;
}
.header .out>a:hover{
    color: #ffffff;
    background-color: #5fafff;
}
.index{
    position: fixed;
    top: 100px;
    left: 20px;
    width: 180px;
    height: 240px;
    background-color: #fff;

}
.progressbar{
    position: fixed;
    top: 100px;
    right: 20px;
    width: 155px;
    height: 240px;
    background-color: #fff;
}
.mbody{
    position: absolute;
    top: 100px;
    left: 120px;
    right: 125px;
    margin: 30px 0 60px 0;
    background-color: #fff;
}
.mbody .title{
    padding: 0 10px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
    height: 61px;
    background-color: #fafafa;
    border-bottom: 1px solid #c5c5c5;
}
.mbody .content{
    padding: 30px 70px 30px 40px;
}
.mbody .content .section{
    position: relative;
    font: 20px/2 sans-serif;
    text-indent: 2em;
    margin: 15px 0;
}
.submit{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 155px;
    height: 34px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 34px;
    background-color:#1a8cfe;
    border-radius: 13px;
}
.textarea{
    text-indent: 0;
    font-size: 10px;
    width: 100%;
    padding: 5px;
    margin: 30px 0;
    display: block;
    border: 1px solid #1a8cfe;
    resize: none;
    outline: none;
}
.subtitle{
    margin:20px 0;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 6px;
    text-align: center;
}
.clear,
.reset,
.sub,
.additem{
    font: 14px/1.5 sans-serif;
    right: -60px;
    position: absolute;
    display: inline-block;
    width: 50px;
    background-color: #1a8cfe;
    cursor: pointer;
    color: #fff;
    text-align: center;
    border-radius: 10%;
    font-size: 12px;
    text-indent: 0;
}
.clear:hover,
.reset:hover,
.sub:hover,
.additem:hover{
    background-color: #5fafff;
}
.clear{
    bottom: 44px;
}
.reset{
    bottom: 22px;
}
.sub,
.additem{
    bottom: 0px;
}
.additem h4{
    display: inline-block;
}
.table{
    position: relative;
    font: 16px/1.5 sans-serif;
}
.table table{
    width: 100%;
    border: 0;
    text-align: center;
    background-color: #1a8cfe;
    border-spacing: 1px;
}
.table caption{
    font-size: 22px;
}
.table table td,
.table table th{
    background-color: #fff;
}
.table table td input{
    width: 100%;
    text-align: center;
}
.table table td input[type='submit']{
    background-color: #fff;
    color: #1a8cfe;
    cursor: pointer;
}
.form{
    margin-bottom: 20px;
    position: relative;
}
fieldset{
    font-weight: 700;
    font-size: 22px;
    border:1px solid #1a8cfe;
}
fieldset label{
    padding: 0 5px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}
fieldset input[type='text']{
    width: 30%;
    border: #1a8cfe 1px solid;
}
fieldset input[type='submit']{
    background-color: #fff;
    color: #1a8cfe;
    cursor: pointer;
}