.contain>div{
    position: absolute;
    top: 25px;
    bottom: 25px;
    right: 50px;
    left: 50px;
    z-index: -1;
}
/* .up{
    top: 0;
}
.down{
    bottom: 0;
} */
.contain .big{
    /* position: absolute;
    left: 0;
    right: 0; */
    float: left;
    height: 280px;
    background-color: #fff;
    padding: 20px 35px;
}
.contain .big .title{
    height: 46px;
    line-height: 26px;
    font-size: 24px;
}
.contain .big .title h4{
    margin-left: 30px;
    display: inline;
}
.contain .big .body{
    width: 1000px;
}
.contain .big .body a{
    float: left;
    width: 160px;
    height: 60px;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 20px;
    line-height: 60px;
    display: block;
    color: #777777;
    border-left: 3px solid #1a8cfe;
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.contain .big .body a:hover{
    color: #1a8cfe;
}
.contain .big .body h4 {
    margin-left: 10px;
}