.contain>div{
    position: absolute;
    top: 25px;
    bottom: 25px;
    right: 50px;
    left: 50px;
}
.contain .big{
    float: left;
    width: 100%;
    background-color: #fff;
    padding: 20px 35px;
    margin-bottom: 30px;
}
.contain .big .title{
    height: 46px;
    line-height: 26px;
    font-size: 24px;
}
.contain .big .title h4{
    margin-left: 0px;
    display: inline;
}
.contain .big .body a{
    float: left;
    width: 160px;
    height: 60px;
    margin-top: 30px;
    margin-right: 25px;
    font-size: 20px;
    line-height: 60px;
    display: block;
    color: #777777;
    border-left: 3px solid #1a8cfe;
}
.contain .big .body a:hover{
    color: #1a8cfe;
}
.contain .big .body h4 {
    margin-left: 10px;
}